<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Intro Symfony par Christophe</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block css %} {% endblock %}
    </head>
    <body>
      <div class="container">
        {% block body %}{% endblock %}
            </div>
    </body>
</html>
