{% extends "::base.html.twig" %}

{% block body %}

<h2>Liste des producteurs</h2>

<table class="table table-bordered table-striped">

  <tr>
    <th>Nom</th>
  </tr>

  {% for p in producers %}
  <tr>
    <td>{{ p.name }}</td>
    <td>      <a class="btn btn-default btn-xs" href="{{ path('producer_details', {'id': p.id}) }}">Détail</a></td>

  </tr>
  {% endfor %}

</table>


{% endblock %}
