{% extends "::base.html.twig" %}

{% block body %}

<h2>Liste des producteurs</h2>

<table class="table table-bordered table-striped">

  <tr>
    <th>Nom</th>
  </tr>

  {% for p in producers %}
  <tr>
    <td>{{ p.name }}</td>
        <td>
      <a class="btn btn-primary btn-xs" href="{{ path('/edit', {'id': f.id}) }}">Modifier</a>
      <a class="btn btn-danger btn-xs" href="{{ path('/delete', {'id': f.id}) }}">Supprimer</a>
    </td>
  </tr>
  {% endfor %}

</table>


{% endblock %}
