{% extends 'base.html.twig' %}

{% block body %}

<h1>Ajax</h1>

<button type=button id= "btnTestAjax">Test Ajax</button>
<button type=button id= "btnListFruits">Charger les fruits</button>

<div id="fruitDisplay" ></div>


{% endblock %}

{% block js %}
<script src="{{asset('js/client.js')}}"></script>
{% endblock %}
